<!-- GIF de inactividad reutilizable + marca flotante -->
<div class="inactivity-popup" id="inactivity-popup" aria-hidden="true">
  <div class="gif-container">
    <img src="img/WoMi1.webp" alt="Asistente WoMi" class="inactivity-gif" id="inactivity-gif">
  </div>
  <div class="inactivity-message" id="inactivity-message"></div>
</div>

<div id="gif-window">
  <div id="gif-window-content"></div>
</div>

<img src="img/marca.webp" alt="By WoMo Soluciónˢ" class="womo-brand" loading="lazy">
